@model SellViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                Item List
            </h1>
        </div>
        <div class="col">
            @if(base.User.Identity.Name != "Admin")
            {
                <h2>
                    <a class="justify-content-end" asp-controller="Sell" asp-action="Add" style="border-right:1px;">Add</a>
                </h2>
            }
        </div>
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Item #</th>
            @if (base.User.Identity.Name == "Admin")
            {
                <th scope="col">Seller #</th>
                <th scope="col">Seller Name</th>
            }
            <th scope="col"> Name</th>
            <th scope="col">Seller</th>
            <th scope="col">Description</th>
            <th scope="col">Best Bid</th>


        </tr>
    </thead>
    <tbody>
        @foreach(Bid b in Model.Bids)
        {
             var client = Model.Clients.FirstOrDefault(c => c.ClientId == b.ClientId);
            <tr>
                <th class="cell" scope="row" >@b.BidId</th>
                <td class="align-items-center justify-content">@b.BidName</td>

                <th class="cell" scope="row"><a asp-controller="Profile" asp-action="CommonProfile" asp-route-id="@client.ClientId">@client.ClientFirstName @client.ClientLastName</a></th>
                <td class ="align-items-center justify-content">@b.BidDescription</td>
                <th class="cell" scope="row" @b.HighestBid></th>

                <td><a asp-route-id="@b.BidId" asp-controller="Sell" asp-action="Edit" class="btn btn-outline-primary">Edit</a>
                    <a asp-route-id="@b.BidId" asp-controller="Details" asp-action="Details" class="btn btn-outline-primary">Review</a>
                    <a asp-route-id="@b.BidId" asp-controller="Sell" asp-action="Delete" class="btn btn-outline-danger">Delete</a>
                </td>

            </tr>
    }
    </tbody>
</table>
