@model Client


<section style="background-color: #eee;">
	<div class="container py-5">
		<form asp-controller="Profile" asp-action="Edit" method="Post" enctype="multipart/form-data">
			<input asp-for="ClientId" value="@Model.ClientId" hidden readonly>
			<input asp-for="ClientUserName" value="@Model.ClientUserName" hidden readonly>



			<div class="row">
				<div class="col-lg-4">
					<div class="card mb-4">
						<div class="card-body text-center">
							@if (Model.ClientImage != null)
							{
								<img src="data:image/*;base64,@(Convert.ToBase64String(Model.ClientImage))"
								 class="rounded-circle " style="width: 300px; height: 400px;">

							}
							else
							{
								<img src="~/Images/user.png" alt="avatar"
								 class="rounded-circle " style="width: 300px height: 400px;">

							}

							<input asp-for="ImageFile" type="file" class="form-control" id="BidName" aria-describedby="emailHelp">

							<h5 class="my-3">@Model.ClientFirstName @Model.ClientLastName</h5>

							<div class="d-flex justify-content-center mb-2">
								<button type="submit" asp-controller="Profile" asp-action="Edit" class="btn btn-primary">Edit</button>
								<a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary ms-1">Home</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card mb-4">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">First Name</p>
								</div>
								<div class="col-sm-9">
									<input asp-for="ClientFirstName" type="text" class="form-control" id="BidName" aria-describedby="emailHelp"
										   placeholder="@Model.ClientFirstName">
								</div>
							</div>
							<hr>

							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Last Name</p>
								</div>
								<div class="col-sm-9">
									<input asp-for="ClientLastName" type="text" class="form-control" id="BidName" aria-describedby="emailHelp"
										   placeholder="@Model.ClientLastName">
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Email</p>
								</div>
								<div class="col-sm-9">
									<input asp-for="ClientPhoneNumber" type="text" class="form-control" id="BidName" aria-describedby="emailHelp"
										   placeholder="@Model.ClientPhoneNumber">
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Email</p>
								</div>
								<div class="col-sm-9">
									<input asp-for="ClientUserName" type="text" class="form-control" id="BidName" aria-describedby="emailHelp"
										   placeholder="@Model.ClientUserName">
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Date od Birth</p>
								</div>
								<div class="col-sm-9">
									<input asp-for="@Model.ClientBirthData" type="date" class="form-control" id="BidName" aria-describedby="emailHelp"
										   placeholder="@Model.ClientBirthData">
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">User Name</p>
								</div>
								<div class="col-sm-9">
									<input asp-for="@Model.ClientUserName" type="text" class="form-control" id="BidName" aria-describedby="emailHelp"
										   placeholder="@Model.ClientUserName">
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Password</p>
								</div>
								<div class="col-sm-9">
									<input asp-for="@Model.ClientPassword" type="password" class="form-control" id="BidName" value="@Model.ClientPassword" aria-describedby="emailHelp" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679">

								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Confirm Password</p>
								</div>
								<div class="col-sm-9">
									<input asp-for="@Model.ClientRetypePassword" type="password" class="form-control" id="BidName" value="@Model.ClientPassword" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679">

								</div>
							</div>
							<hr>
							<div class="col-sm-9 text-secondary">
								@{
									if (ViewData["errorMessage"] != null)
									{
										<h5 style="color:red;">@ViewData["errorMessage"]</h5>
									}
									else
									{
										<h5>@ViewData["confirmationMessage"]</h5>
									}
								}
								<div class="row">
									<div class="col-sm-12 " style="margin-top:5px;">

										<p></p>
										@if (base.User.Identity.Name == "Admin")
										{
											@if (Model.ClientRole != "Admin")
											{
												@if (Model.Blocked)
												{
													<a class="btn btn-info btn-outline-danger" style="background-color:white;" asp-action="Unblock" asp-controller="Profile" asp-route-id="@Model.ClientId">UnBlock</a>
												}
												else
												{
													<a class="btn btn-info btn-outline-danger " style="background-color:white;" asp-action="Block" asp-controller="Profile" asp-route-id="@Model.ClientId">Block</a>

												}
											}
										}



									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<input asp-for="VerficationToken" value="@Model.VerficationToken" hidden readonly>
			<input asp-for="EmailConfirmed" value="@Model.EmailConfirmed" hidden readonly>
			<input asp-for="VerficationToken" value="@Model.VerficationToken" hidden readonly>
			<input asp-for="VerficationToken" value="@Model.VerficationToken" hidden readonly>


		</form>


	</div>
</section>
