@model Client
<section style="background-color: #eee;">
    <div class="container py-5">
    

        <div class="row">
            <div class="col-lg-4" style="width:25.45%;">
                <div class="card formStyle mb-4">
                    <div class="card-body text-center">
                        @if (Model.ClientImage != null)
                        {
                            <img src="data:image/*;base64,@(Convert.ToBase64String(Model.ClientImage))"
                             class="rounded-circle " style="width: 300px; height: 400px;">

                        }
                        else
                        {
                            <img src="~/Images/user.png" alt="avatar"
                             class="rounded-circle " style="width: 300px height: 400px;">

                        }

                        <h5 class="my-3">@Model.ClientFirstName @Model.ClientLastName</h5>
                        <div class="d-flex justify-content-center mb-2">
                            <a type="button" asp-controller="Profile" asp-action="Edit" asp-route-id="@Model.ClientId" class="btn btn-primary">Edit</a>
                            <a type="button" target="_blank" asp-action="Index" asp-controller="Home" class="btn btn-outline-primary ms-1">Home</a>
                            @if (base.User.Identity.Name == "Admin")
                            {
                                @if (Model.ClientRole != "Admin")
                                {
                                    @if (Model.Blocked)
                                    {
                                        <a class="btn btn-info btn-outline-danger" style="background-color:white;" asp-action="Unblock" asp-controller="Profile" asp-route-id="@Model.ClientId">UnBlock</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-info btn-outline-danger " style="background-color:white;" asp-action="Block" asp-controller="Profile" asp-route-id="@Model.ClientId">Block</a>

                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-8">
                <div class="card formStyle mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">First Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.ClientFirstName</p>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Last Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.ClientLastName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.ClientUserName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div>
                        <div class="card formStyle mb-4 mb-lg-0">
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fas fa-globe fa-lg text-warning"></i>
                                        <p class="mb-0">https://mdbootstrap.com</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



