@model Client
<section >
      

  
    <div class="container py-5 ">
      
    
        
        <div class="row">
            <div class="col-lg-2" style="padding-right: 0px;   height: 100%;
}">
                <div class="card  mb-8" style="padding: 0px; box-shadow: 0 ; ">
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <a type="button" class="btn btn-dark" asp-controller="Profile" asp-action="Edit" asp-route-id="@Model.ClientId">Edit</a>
                    <a type="button" class="btn btn-dark" asp-action="Index" asp-controller="Home">Home</a>
                    <a type="button" class="btn btn-dark" asp-area="" asp-controller="Sell" asp-action="Index">My items</a>
                    <a type="button" class="btn btn-dark" asp-controller="Profile" asp-action="LeadingBids" asp-route-id="@Model.ClientId">My Bids</a>
                    <a type="button" class="btn btn-dark" asp-controller="Payment" asp-action="Payment" asp-route-id="@Model.ClientId">My Cart</a>
                </div>
                </div>
            </div>
           
            <div class="col-lg-4" style="width:25.45%;">
                <div class="card formStyle mb-4">
                    <div class="card-body text-center">
                        @if (Model.ClientImage != null)
                        {
                            <img src="data:image/*;base64,@(Convert.ToBase64String(Model.ClientImage))"
                             class="rounded-circle " style="width: 300px; height: 400px;">

                        }
                        else
                        {
                            <img src="~/Images/user.png" alt="avatar"
                             class="rounded-circle " style="width: 300px height: 400px;">

                        }

                        <h5 class="my-3">@Model.ClientFirstName @Model.ClientLastName</h5>
                        <div class="d-flex justify-content-center mb-2">
							

                            @if (base.User.Identity.Name == "Admin")
                            {
                                @if (Model.ClientRole != "Admin")
                                {
                                    @if (Model.Blocked)
                                    {
                                        <a class="btn btn-info btn-outline-danger" style="background-color:white;" asp-action="Unblock" asp-controller="Profile" asp-route-id="@Model.ClientId">UnBlock</a>
                                        <a type="button" asp-controller="Profile" asp-action="LeadingBids" asp-route-id="@Model.ClientId" class="btn btn-primary">My Leading Bids</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-info btn-outline-danger " style="background-color:white;" asp-action="Block" asp-controller="Profile" asp-route-id="@Model.ClientId">Block</a>
                                        <a type="button" asp-controller="Profile" asp-action="LeadingBids" asp-route-id="@Model.ClientId" class="btn btn-primary">My Leading Bids</a>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-lg-6">
                <div class="card formStyle mb-8">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">First Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.ClientFirstName</p>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Last Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.ClientLastName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.ClientUserName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.ClientPhoneNumber</p>
                            </div>
                        </div>
                        <hr>
                       
                  
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>



