@model HomeViewModel
@{
    ViewData["Title"] = "JoseDore";
}
<div style="margin-right:20px">
    <div class="row py-3">
        <div class="col-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">

                <article class="col">
                  
                    <div class="filter-content">
                        <div class="card-body">

                            <form asp-controller="SearchController" asp-action="Sort" method="post"></form>
                            @using(Html.BeginForm("Sort","Search",FormMethod.Post)){
                                <header class="card-header">
                                    <h6 class="title">Categories </h6>
                                </header>
                                  
                                @foreach(Category c in Model.Categories)
                                {
                                    <div>
                                        @Html.RadioButton("selectedCategories", c.CategoryId )
                                        @c.CategoryName
                                    </div>
                                }

                                <header class="card-header">
                                    <h6 class="title">Condition</h6>
                                </header>

                             

                                @foreach (AssetCondition a in Model.AssetConditions)
                                {
                                    <div>
                                        @Html.RadioButton("selectedAsset", a.AssetConditionId)
                                        @a.AssetConditionStatus
                                    </div>
                                }


                            <header class="card-header">
                                <h6 class="title">Price</h6>
                            </header>

                           <label class="form-check">
                                    <input class="form-check-input" type="radio" value="1" name="selectedPriceRange">
                                    <span class="form-check-label">
                                        Highest to Lowest
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="radio" value="2" name="selectedPriceRange">
                                    <span class="form-check-label">
                                        Lowest to Highest
                                    </span>
                                </label>
                        

                          <button type="submit">submit</button>

                            }

                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="col" id="main">
            @foreach(Bid b in Model.Bids)
            {
                <div class="card" style="width: 18rem;display:inline-block;">
                    <a asp-controller="Details" asp-action="Details" asp-route-id="@b.BidId">
                        <img class="card-img-top" src="@Url.Content(b.ImagePath)" alt="Card image cap" >
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@b.BidName</h5>
                        <p class="card-text">$@b.BidCost</p>
                        <a asp-controller="Details" asp-action="Details" asp-route-id="@b.BidId" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


