@model HomeViewModel
@{
    ViewData["Title"] = "JoseDore";
    
}

<div style="margin-right:20px">
    <div class="row py-3">
        <div class="col-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">

                <article class="col">

                    <div class="filter-content">
                        <div class="card-body">
                            <form asp-controller="Search" asp-action="Sort" method="Get" id="sort">

                                <div class="row ms-auto" style="margin-bottom: 10px;">
                                    <div class="col" style="padding-left: 0px;">
                                        <input type="search" class="form-control search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" style="margin-right:5px;
                                         width: 157px;" name="Search" />
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn bg-white">search</button>
                                    </div>
                                </div>
                                <header class="card-header">
                                    <h6 class="title">Categories </h6>
                                </header>

                                @foreach (Category c in Model.Categories)
                                {
                                    <div>
                                        <input class="form-check-input unCheck" type="radio" value="@c.CategoryId" name="selectedCategories" >
                                        <span class="form-check-label">
                                        @c.CategoryName
                                    </span>
                                    </div>
                                }

                                <header class="card-header">
                                    <h6 class="title">Condition</h6>
                                </header>



                                @foreach (AssetCondition a in Model.AssetConditions)
                                {
                                    <div>
                                        <input class="form-check-input unCheck" type="radio" value="@a.AssetConditionId" name="selectedAsset">
                                        <span class="form-check-label">
                                            @a.AssetConditionStatus
                                        </span>
                                    </div>
                                }


                                <header class="card-header">
                                    <h6 class="title">Price</h6>
                                </header>

                                <label class="form-check">
                                    <input class="form-check-input unCheck" type="radio" value="1" name="selectedPriceRange">
                                    <span class="form-check-label">
                                        Highest to Lowest
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input unCheck" type="radio" value="2" name="selectedPriceRange">
                                    <span class="form-check-label">
                                        Lowest to Highest
                                    </span>
                                </label>
                            </form>
                            <button class="btn bg-white" onclick="unCheck()">DeSelect</button>

                        </div>
                    </div>
                </article>
            </div>
        </div>
        <a asp-controller="Payment" asp-action="Payment" >Payment</a>

        <div class="col" id="main">
            @foreach (Bid b in Model.Bids)
            {
                var dateLeft = b.BidEndDate.Subtract(DateTime.Now);
                var datesToStart = b.BidStartDate.Subtract(DateTime.Now);
                <div class="card" style="width: 18rem;display:inline-block;">
                    <a asp-controller="Details" asp-action="Details" asp-route-id="@b.BidId">
                        @if (b.ImageData != null)
                        {
                                                    <img class="card-img-top" src="data:image/*;base64,@(Convert.ToBase64String(b.ImageData))">
                        }
                    </a>
                    <div class="card-body">
                        
                        <h5 class="card-title">@b.BidName</h5>
                        <p class="card-text">$@b.BidCost</p>
                        @if (datesToStart > TimeSpan.Zero)
                        {

                            <h5 class="card-title">Bid Starts:</h5>

                            <div class="card_body card_body_timer timer">
                                <div class="countdown_section">
                                    <div id="days" class="value">@datesToStart.Days</div>
                                    <div class="countdown_label">DAYS</div>
                                </div>
                                <div class="countdown_section">
                                    <div id="hours" class="value">@datesToStart.Hours</div>
                                    <div class="countdown_label">HOURS</div>
                                </div>
                                <div class="countdown_section">
                                    <div id="minutes" class="value">@datesToStart.Minutes</div>
                                    <div class="countdown_label">MINUTES</div>
                                </div>
                                <div class="countdown_section">
                                    <div id="seconds" class="value">@datesToStart.Seconds</div>
                                    <div class="countdown_label">SECONDS</div>
                                </div>

                            </div>
                        }
                        else
                        {
                            <h5 class="card-title">Bid Starts:</h5>

                            <div class="card_body card_body_timer timer">
                                <div class="countdown_section">
                                    <div id="days" class="value">00</div>
                                    <div class="countdown_label">DAYS</div>
                                </div>
                                <div class="countdown_section">
                                    <div id="hours" class="value">00</div>
                                    <div class="countdown_label">HOURS</div>
                                </div>
                                <div class="countdown_section">
                                    <div id="minutes" class="value">00</div>
                                    <div class="countdown_label">MINUTES</div>
                                </div>
                                <div class="countdown_section">
                                    <div id="seconds" class="value">00</div>
                                    <div class="countdown_label">SECONDS</div>
                                </div>

                            </div>

                        }
                        <h5 class="card-title">bid Ends:</h5>

                        <div class="card_body card_body_timer timer">
                            <div class="countdown_section">
                                <div id="days" class="value">@dateLeft.Days</div>
                                <div class="countdown_label">DAYS</div>
                            </div>
                            <div class="countdown_section">
                                <div id="hours" class="value">@dateLeft.Hours</div>
                                <div class="countdown_label">HOURS</div>
                            </div>
                            <div class="countdown_section">
                                <div id="minutes" class="value">@dateLeft.Minutes</div>
                                <div class="countdown_label">MINUTES</div>
                            </div>
                            <div class="countdown_section">
                                <div id="seconds" class="value">@dateLeft.Seconds</div>
                                <div class="countdown_label">SECONDS</div>
                            </div>

                        </div>
                        <a asp-controller="Details" asp-action="Details" asp-route-id="@b.BidId" class="btn btn-primary">View Details</a>

                    </div>
                    
                </div>
            }
        </div>
    </div>
</div>


