@model DetailsVeiwModel
<style>

    button {
        --border: 5px; /* the border width */
        --slant: 0.7em; /* control the slanted corners */
        --color: #37E8FC; /* the color */

        padding: 0.4em 1.2em;
        border: none;
        cursor: pointer;
        font-weight: bold;
        color: var(--color);
        background: linear-gradient(to bottom left,var(--color) 50%,#0000 50.1%) top right, linear-gradient(to top right,var(--color) 50%,#0000 50.1%) bottom left;
        background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
        background-repeat: no-repeat;
        box-shadow: 0 0 0 200px inset var(--s,#0000), 0 0 0 var(--border) inset var(--color);
        clip-path: polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant), 100% 100%, var(--slant) 100%,0 calc(100% - var(--slant)) );
        transition: color var(--t,0.3s), background-size 0.3s;
    }

        button:focus-visible {
            outline-offset: calc(-1*var(--border));
            outline: var(--border) solid #000c;
            clip-path: none;
            background-size: 0 0;
        }

        button:hover,
        button:active {
            background-size: 100% 100%;
            color: #fff;
            --t: 0.2s 0.1s;
        }

        button:active {
            --s: #0005;
            transition: none;
        }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-5" style="margin-top: 37px;">
            <div class="project-info-box mt-0">
                <h5>PROJECT DETAILS</h5>
                <p class="mb-0">@Model.Bid.BidDescription</p>
            </div>
            @{
                var dateLeft = Model.Bid.BidEndDate.Subtract(DateTime.Now);
                var datesToStart = Model.Bid.BidStartDate.Subtract(DateTime.Now);
            }
            <div class="project-info-box">
                <p><b>Sold By:</b><a asp-controller="Profile" asp-action="CommonProfile" asp-route-id="@Model.Bid.Client.ClientId">@Model.Bid.Client.ClientFirstName @Model.Bid.Client.ClientLastName</a></p>

                <p><b>Item Name:</b> @Model.Bid.BidName</p>
                <p><b>Start Date:</b> @Model.Bid.BidStartDate</p>
                <p><b>End Date:</b> @Model.Bid.BidEndDate</p>
                <p class="mb-0"><b>Cost:</b> $@Model.Bid.BidStartPrice</p>
                <p><b>Condition:</b> @Model.Bid.AssetCondition.AssetConditionStatus</p>
                <p><b>Category:</b> @Model.Bid.Category.CategoryName</p>

                @if (Model.Bid.Status == false)
                {
                    <p><b>Status: </b><botton class="btn-outline-danger"><strong>INACTIVE</strong></botton></p>

                }
                else
                {
                    <p><b>Status: </b><botton class="btn-outline-success"><strong>ACTIVE</strong></botton></p>
                    <a value="Item" class="btn btn-primary" style="width:7.5rem;" id="modalOpener">Place Bid</a>
                }
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1>Placing Bid</h1>
                            </div>
                            <div class="modal-body" style="margin-left: 17px;">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="container" style="margin-bottom: 22px;">
                                            <h3 style="margin-bottom: 22px;">Please Select Or Enter the Amount you'd Like to Add to the Heighest bid</h3>
                                            <div class="row">
                                                <div style="display:inline" class="col bidButton">
                                                    <form asp-action="Add" asp-controller="Details" method="post" enctype="multipart/form-data" style="width: 20px;">


                                                        <input hidden readonly asp-for="BidPlaced.BidAmount" value="@(Model.Bid.HighestBid + 10)" style="width: 20px;">
                                                        <input asp-for="Bid.BidId" hidden readonly>

                                                        <button type="submit" style="--color:#031866;--slant:20px;--border:5px">$@(Model.Bid.HighestBid + 10)</button>

                                                    </form>
                                                </div>
                                                <div style="display:inline" class="col bidButton">
                                                    <form asp-action="Add" asp-controller="Details" method="post" enctype="multipart/form-data">


                                                        <input hidden readonly asp-for="BidPlaced.BidAmount" value="@(Model.Bid.HighestBid +20)" style="width: 20px;">
                                                        <input asp-for="Bid.BidId" hidden readonly>

                                                        <button type="submit" style="--color:#031866;--slant:20px;--border:5px">$@(Model.Bid.HighestBid + 20)</button>

                                                    </form>
                                                </div>
                                                <div style="display:inline" class="col bidButton">
                                                    <form asp-action="Add" asp-controller="Details" method="post" enctype="multipart/form-data">


                                                        <input hidden readonly asp-for="BidPlaced.BidAmount" value="@(Model.Bid.HighestBid + 50)" style="width: 20px;">
                                                        <input asp-for="Bid.BidId" hidden readonly>

                                                        <button type="submit" style="--color:#031866;--slant:20px;--border:5px">$@(Model.Bid.HighestBid + 50)</button>

                                                    </form>
                                                </div>
                                                <div style="display:inline" class="col bidButton">
                                                    <form asp-action="Add" asp-controller="Details" method="post" enctype="multipart/form-data" style="width: 20px;">


                                                        <input hidden readonly asp-for="BidPlaced.BidAmount" value="@(Model.Bid.HighestBid + 100)">
                                                        <input asp-for="Bid.BidId" hidden readonly>

                                                        <button type="submit" style="--color:#031866;--slant:20px;--border:5px">$@(Model.Bid.HighestBid + 100)</button>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container" style="margin-bottom:20px">
                                            <div class="card formStyle">
                                                <h2>
                                                    Enter Bid Amount:
                                                </h2>

                                                <form asp-action="Add" asp-controller="Details" method="post" enctype="multipart/form-data">
                                                    <input asp-for="BidPlaced.BidAmount" class="input__field" type="number" style="margin-bottom:10px;width: 360px;" id="bid_input" placeholder="Current Highest Bid: @Model.Bid.HighestBid" value="">
                                                    <div class="button-group">
                                                        <input asp-for="Bid.BidId" hidden readonly>
                                                        <button type="submit">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <img src="data:image/*;base64,@(Convert.ToBase64String(Model.Bid.ImageData))" alt="project-image" class="rounded" style="margin-top:36px; margin-bottom:10px">
            @if(Model.Bid.Status == false)
            {
                if(Model.Bid.expired == false)
                {
                    <h3 class="card-text">Item Starts:</h3>
                    <div class="card_body card_body_timer timer">
                        <div class="countdown_section">
                            <div id="days" class="value days detail-timer" style="width:100px; height:100px">@datesToStart.Days</div>
                            <div class="countdown_label">DAYS</div>
                        </div>
                        <div class="countdown_section">
                            <div id="hours" class="value hours detail-timer" style="width:100px; height:100px">@datesToStart.Hours</div>
                            <div class="countdown_label">HOURS</div>
                        </div>
                        <div class="countdown_section">
                            <div id="minutes" class="value minutes detail-timer" style="width:100px; height:100px">@datesToStart.Minutes</div>
                            <div class="countdown_label">MINUTES</div>
                        </div>
                        <div class="countdown_section">
                            <div id="seconds" class="value seconds detail-timer" style="width:100px; height:100px">@datesToStart.Seconds</div>
                            <div class="countdown_label">SECONDS</div>
                        </div>
                    </div>
                }
                else
                {
                    <h1>Bid Expired </h1>
                }
            }
            else
            {
                <h3 class="card-text">Item Ends:</h3>
                <div class="card_body card_body_timer timer">
                    <div class="countdown_section">
                        <div id="days" class="value days detail-timer" style="width:100px; height:100px">@dateLeft.Days</div>
                        <div class="countdown_label">DAYS</div>
                    </div>
                    <div class="countdown_section">
                        <div id="hours" class="value hours detail-timer" style="width:100px; height:100px">@dateLeft.Hours</div>
                        <div class="countdown_label">HOURS</div>
                    </div>
                    <div class="countdown_section">
                        <div id="minutes" class="value minutes detail-timer" style="width:100px; height:100px">@dateLeft.Minutes</div>
                        <div class="countdown_label">MINUTES</div>
                    </div>
                    <div class="countdown_section">
                        <div id="seconds" class="value seconds detail-timer" style="width:100px; height:100px">@dateLeft.Seconds</div>
                        <div class="countdown_label">SECONDS</div>
                    </div>
                </div>
            }
            
            <h5 style="color:red;">@ViewData["errorMessage"]</h5>
        </div>


    </div>

</div>

