@model Bid
<div class="container">
    <div class="row">
        <div class="col-md-5" style="margin-top: 37px;">
            <div class="project-info-box mt-0">
                <h5>PROJECT DETAILS</h5>
                <p class="mb-0">@Model.BidDescription</p>
            </div>
            @{
                var dateLeft = Model.BidEndDate.Subtract(DateTime.Now);
                var datesToStart = Model.BidStartDate.Subtract(DateTime.Now);
            }
            <div class="project-info-box">
                <p><b>Sold By:</b><a asp-controller="Profile" asp-action="CommonProfile" asp-route-id="@Model.Client.ClientId">@Model.Client.ClientFirstName @Model.Client.ClientLastName</a></p>

                <p><b>Item Name:</b> @Model.BidName</p>
                <p><b>Start Date:</b> @Model.BidStartDate</p>
                <p><b>End Date:</b> @Model.BidEndDate</p>
                <p class="mb-0"><b>Cost:</b> $@Model.BidCost</p>
                <p><b>Condition:</b> @Model.AssetCondition.AssetConditionStatus</p>
                <p><b>Category:</b> @Model.Category.CategoryName</p>
                @if (datesToStart > TimeSpan.Zero)
                {
                    <p><b>Status: </b><botton class="btn-outline-danger"><strong>INACTIVE</strong></botton></p>
                }
                else
                {
                    <p><b>Status: </b><botton class="btn-outline-success"><strong>ACTIVE</strong></botton></p>
                    <a asp-action="Index" asp-controller="Bid" type="submit" value="Item" class="btn btn-primary" style="width:7.5rem;">Place Bid</a>

                }


            </div>


        </div>

        <div class="col-md-7">
            <img src="data:image/*;base64,@(Convert.ToBase64String(Model.ImageData))" alt="project-image" class="rounded" style="margin-top:36px; margin-bottom:10px">
            @if (datesToStart > TimeSpan.Zero)
            {
                <h3 class="card-text">Item Starts:</h3>
                <div class="card_body card_body_timer timer">
                    <div class="countdown_section">
                        <div id="days" class="value days detail-timer" style="width:100px; height:100px">@datesToStart.Days</div>
                        <div class="countdown_label">DAYS</div>
                    </div>
                    <div class="countdown_section">
                        <div id="hours" class="value hours detail-timer" style="width:100px; height:100px">@datesToStart.Hours</div>
                        <div class="countdown_label">HOURS</div>
                    </div>
                    <div class="countdown_section">
                        <div id="minutes" class="value minutes detail-timer" style="width:100px; height:100px">@datesToStart.Minutes</div>
                        <div class="countdown_label">MINUTES</div>
                    </div>
                    <div class="countdown_section">
                        <div id="seconds" class="value seconds detail-timer" style="width:100px; height:100px">@datesToStart.Seconds</div>
                        <div class="countdown_label">SECONDS</div>
                    </div>
                </div>
            }
            else
            {
                <h3 class="card-text">Item Ends:</h3>
                <div class="card_body card_body_timer timer">
                    <div class="countdown_section">
                        <div id="days" class="value days detail-timer" style="width:100px; height:100px">@dateLeft.Days</div>
                        <div class="countdown_label">DAYS</div>
                    </div>
                    <div class="countdown_section">
                        <div id="hours" class="value hours detail-timer" style="width:100px; height:100px">@dateLeft.Hours</div>
                        <div class="countdown_label">HOURS</div>
                    </div>
                    <div class="countdown_section">
                        <div id="minutes" class="value minutes detail-timer" style="width:100px; height:100px">@dateLeft.Minutes</div>
                        <div class="countdown_label">MINUTES</div>
                    </div>
                    <div class="countdown_section">
                        <div id="seconds" class="value seconds detail-timer" style="width:100px; height:100px">@dateLeft.Seconds</div>
                        <div class="countdown_label">SECONDS</div>
                    </div>

                </div>
            }
        </div>


    </div>

</div>

