@model Bid
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>PROJECT DETAILS</h5>
                <p class="mb-0">@Model.BidDescription</p>
            </div>

            <div class="project-info-box">
                <p><b>Item Name:</b> @Model.BidName</p>
                <p><b>Start Date:</b> @Model.BidStartDate</p>
                <p><b>End Date:</b> @Model.BidEndDate</p>
                <p class="mb-0"><b>Cost:</b> $@Model.BidCost</p>
                <p><b>Condition:</b> @Model.AssetCondition.AssetConditionStatus</p>
                <p><b>Category:</b> @Model.Category.CategoryName</p>
                <button type="submit" value="Bid" class="btn btn-primary" style="width:7.5rem;">Bid</button>

            </div>

            
        </div>

        <div class="col-md-7">
            <img src="@Url.Content(Model.ImagePath)" alt="project-image" class="rounded" style="margin-top:36px;">
        </div>
    </div>
</div>

