@model LeadingBidsModel
<div class="col" id="main">


    <h1>Your Leading bids</h1>
    @foreach (Bid b in Model.Bids)
    {
        var dateLeft = b.BidEndDate.Subtract(DateTime.Now);
        var datesToStart = b.BidStartDate.Subtract(DateTime.Now);
        <div class="card" style="width: 18rem;display:inline-block;">
            <a asp-controller="Details" asp-action="Details" asp-route-id="@b.BidId">
                @if (b.ImageData != null)
                {
                    <img class="card-img-top" src="data:image/*;base64,@(Convert.ToBase64String(b.ImageData))">
                }
            </a>
            <div class="card-body">

                <h5 class="card-title">@b.BidName</h5>
                <p class="card-text">$@b.BidStartPrice</p>
                @if (datesToStart > TimeSpan.Zero)
                {
                    <h5 class="card-text">Bid Starts:</h5>
                    <div class="card_body card_body_timer timer">
                        <div class="countdown_section">
                            <div id="days" class="value days">@datesToStart.Days</div>
                            <div class="countdown_label">DAYS</div>
                        </div>
                        <div class="countdown_section">
                            <div id="hours" class="value hours">@datesToStart.Hours</div>
                            <div class="countdown_label">HOURS</div>
                        </div>
                        <div class="countdown_section">
                            <div id="minutes" class="value minutes">@datesToStart.Minutes</div>
                            <div class="countdown_label">MINUTES</div>
                        </div>
                        <div class="countdown_section">
                            <div id="seconds" class="value seconds">@datesToStart.Seconds</div>
                            <div class="countdown_label">SECONDS</div>
                        </div>
                    </div>
                }
                else
                {
                    <h5 class="card-text">Bid Starts:</h5>
                    <div class="card_body card_body_timer ">
                        <div class="countdown_section">
                            <div id="days" class="value ">00</div>
                            <div class="countdown_label">DAYS</div>
                        </div>
                        <div class="countdown_section">
                            <div id="hours" class="value">00</div>
                            <div class="countdown_label">HOURS</div>
                        </div>
                        <div class="countdown_section">
                            <div id="minutes" class="value">00</div>
                            <div class="countdown_label">MINUTES</div>
                        </div>
                        <div class="countdown_section">
                            <div id="seconds" class="value">00</div>
                            <div class="countdown_label">SECONDS</div>
                        </div>

                    </div>


                }
                <h5 class="card-text">bid Ends:</h5>
                <div class="card_body card_body_timer timer">
                    <div class="countdown_section">
                        <div id="days" class="value days">@dateLeft.Days</div>
                        <div class="countdown_label">DAYS</div>
                    </div>
                    <div class="countdown_section">
                        <div id="hours" class="value hours">@dateLeft.Hours</div>
                        <div class="countdown_label">HOURS</div>
                    </div>
                    <div class="countdown_section">
                        <div id="minutes" class="value minutes">@dateLeft.Minutes</div>
                        <div class="countdown_label">MINUTES</div>
                    </div>
                    <div class="countdown_section">
                        <div id="seconds" class="value seconds">@dateLeft.Seconds</div>
                        <div class="countdown_label">SECONDS</div>
                    </div>

                </div>
                <a asp-controller="Details" asp-action="Details" asp-route-id="@b.BidId" class="btn btn-primary">View Details</a>

            </div>

        </div>
    }
    </div>