@model LeadingBidsModel
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<div class="col" id="main">


	<div style="display: flex">


		<div class="list-group" style="width: 45%; margin-right:  50px;">
			<h1>Your Leading bids</h1>


			@foreach (Bid b in Model.Bids)
			{
				var dateLeft = b.BidEndDate.Subtract(DateTime.Now);
				var datesToStart = b.BidStartDate.Subtract(DateTime.Now);
				<a asp-controller="Details" asp-action="Details" asp-route-id="@b.BidId" class="list-group-item list-group-item-action ">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">@b.BidName</h5>
						<small style="color: red">@dateLeft.Days Days Left</small>
					</div>
					<p class="mb-1">Your Bid: $@b.HighestBid.</p>
					<small>Bid Starting Price: $@b.BidStartPrice</small>
				</a>

			}
		</div>

		<div style="width: 45%; float: right">
			<h1>Your Total Bidding amount is @Model.TotalBiddingAmount</h1>
			<h2 class='fas fa-car' style='font-size:36px'> Car Bidding: @Model.CarsSpending</h2>
			<h2 class='fas fa-tshirt' style='font-size:36px'> Clothes Bidding: @Model.ClothesSpending</h2>
			<h2 class='fas fa-keyboard' style='font-size:36px'> Electronic Bidding: @Model.ElectronicSpending</h2>
		</div>





	</div>



